/* Genrencia de projetos */
.todo-conteudo-gerencia-projetos {
    background: #ff3773;
    color: #fff;
    padding: 68px 0;
  }
  
  .todo-conteudo-gerencia-projetos .botoes-lojas {
    margin-top: 48px;
  }