* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 26px;
}

.conteudo {
  width: 80%;
  max-width: 1140px;
  min-width: 60%;
  margin: 0px auto 0px auto;
}

.bloco-de-recurso {
  text-align: center;
  width: 30%;
  margin: 50px 30px 15px 0;
}

.bloco-de-recurso i {
  font-size: 40px;
}

.color-lilas {
  color: #8c30f5;
}

.color-rosa {
  color: #ff3773;
}

.color-verde {
  color: #2ec5ce;
}

.color-azul {
  color: #1d1db1;
}

.titulo-bloco-de-recursos {
  font-size: 24px;
  margin-bottom: 8px;
  line-height: 36px;
  font-weight: 600;
}

.todos-os-blocos-de-recurso {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.titulo-de-sessao {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.titulo {
  margin: 0.5rem 0;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
}

.sub-titulo {
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
}

/* Cabeçalho */
.cabecalho {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e9f2;
  /* box-shadow: 0px 1px 0px #E5E9F2; */
  padding: 26px 0px;
}

.conteudo-do-header,
.conteudo-conquistas,
.blocos-de-numeros,
.bloco-depoimentos {
  display: flex;
  justify-content: space-between;
}

.informacoes-do-cabecalho,
.informacoes-do-cabecalho nav {
  display: flex;
  align-items: center;
}

.informacoes-do-cabecalho img,
.informacoes-do-cabecalho nav a {
  margin-right: 32px;
}

.informacoes-do-cabecalho nav a {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #18191f;
}

.botoes-lojas a {
  margin-right: 12px;
  text-decoration: none;
}

/*Geral*/

.texto-principal {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 32px;
}

.botao {
  background: #28f5be;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 16px 67px;
  border-radius: 8px;
}

.botao:hover {
  background: #ff3773;
}

.margin-negative-110 {
  margin-top: -6.875rem;
}

.margin-negative-110 .depoimento:first-child {
  margin-bottom: 7.75rem;
}

.largura-350 {
  width: 21.875rem;
}

/*Banner principal*/

.banner-principal {
  background-image: url(../images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  padding-top: 96px;
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Depoimentos */

.todos-os-depoimentos {
  background: #28f5be;
  padding-top: 120px;
  padding-bottom: 152px;
  margin: 64px 0;
}

.depoimento {
  background: #ffffff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  margin-top: 24px;
}

.depoimento p,
.depoimento h3 {
  color: #18191f;
  font-size: 18px;
}

.depoimento p {
  line-height: 32px;
  margin-bottom: 24px;
  margin-top: -30px;
}

.depoimento p,
.depoimento h3,
.depoimento h4 {
  padding-left: 32px;
}

.textos-do-depoimento:before {
  content: url(../imagens/aspas.png);
}

.depoimento h3 {
  line-height: 28px;
}

.depoimento h4 {
  font-size: 14px;
  line-height: 24px;
  color: #969bab;
  font-weight: normal;
}

.margin-negative-110 {
  margin-top: -110px;
}

.margin-negative-110 .depoimento:first-child {
  margin-bottom: 124px;
}

.largura-350 {
  width: 350px;
}

/* Nossas conquistas */
.todas-nossas-conquistas {
  padding-top: 82px;
  padding-bottom: 82px;
}

.coluna,
.blocos-de-conquistas {
  width: 45%;
}

.blocos-de-numeros {
  flex-wrap: wrap;
}

.blocos-de-conquistas,
.conteudo-vamos-la,
.conteudo-gerencia-projetos {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.blocos-de-conquistas i {
  font-size: 26px;
  margin-right: 1rem;
}

/* Formulario*/

.formulario {
  display: flex;
  flex-direction: column;
  /*espaçamento é margin e padding*/
}

/* Vamos lá*/

.todo-conteudo-vamos-la {
  padding: 64px 0;
}

.conteudo-vamos-la,
.conteudo-gerencia-projetos {
  justify-content: space-between;
}

.link-roxo {
  font-size: 20px;
  font-weight: bold;
  color: #9b51e0;
  text-decoration: none;
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.link-roxo i {
  margin-left: 8px;
}

/* Genrencia de projetos */
.todo-conteudo-gerencia-projetos {
  background: #ff3773;
  color: #fff;
  padding: 68px 0;
}

.todo-conteudo-gerencia-projetos .botoes-lojas {
  margin-top: 48px;
}

/* Rodape */
.rodape {
  background: #0b0d17;
  padding: 56px 84px;
  color: #fff;
}

.conteudo-rodape {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-rodape ul {
  list-style: none;
  display: flex;
  margin-bottom: 24px;
}

.menu-rodape ul li {
  margin-right: 24px;
}

.menu-rodape ul li a {
  text-decoration: none;
  color: white;
}

.botoes-download-rodape {
  display: flex;
  flex-direction: column;
}

.botoes-download-rodape a {
  margin-top: 16px;
}
