
        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            font-family: 'Manrope', sans-serif;
            color: #333333;
            font-size: 16px;
            line-height: 26px;
        }
        
        .conteudo {
            width: 80%;
            max-width: 1140px;
            min-width: 60%;
            margin: 0px auto 0px auto;
        }
        
        .bloco-de-recurso {
            text-align: center;
            width: 30%;
            margin: 50px 30px 15px 0;
        }
        
        .bloco-de-recurso i {
            font-size: 40px;
        }
        
        .color-lilas {
            color: #8C30F5;
        }
        
        .color-rosa {
            color: pink
        }
        
        .color-verde {
            color: #2EC5CE
        }
        
        .titulo-bloco-de-recursos {
            font-size: 24px;
            margin-bottom: 8px;
            line-height: 36px;
            font-weight: 600;
        }
        
        .todos-os-blocos-de-recurso {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
